@font-face {
    font-family: "OngleleafBuhungSiwoo";
    font-weight: 300;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/wefonts/OngleleafBuhungSiwoo/OngleleafBuhungSiwoo.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/wefonts/OngleleafBuhungSiwoo/OngleleafBuhungSiwoo.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/wefonts/OngleleafBuhungSiwoo/OngleleafBuhungSiwoo.ttf") format("truetype");
    font-display: swap;
}

.OngleleafBuhungSiwoo {
    font-family: "OngleleafBuhungSiwoo";
}
